extends layout

block content
    form(action="/new" method="POST") 
        label= Author 
        input(type='text' name="author" required)

        label= Message 
        textarea(name="message", cols="30", rows="10" required)